# Dependencies
**/node_modules

# Environment Variables
**/.env
**/.env.*
!**/.env.example

# Git
.git
.gitignore

# Build Outputs
**/dist
**/.next
**/.turbo
**/out
**/build

# Logs
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store