# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.


# General 
EXPRESS_PORT = 4000
NEXT_PORT = http://localhost:3000
DATABASE_URL="postgresql://postgres:password@localhost:5432/db-name"
JWT_SECRET=XXX

# Redis
# Local (no Docker): REDIS_URL=redis://localhost:6379
# Docker Compose: REDIS_URL=redis://redis:6379
REDIS_URL=redis://localhost:6379


# AWS S3 Storage
AWS_ACCESS_KEY_ID=XXX
AWS_SECRET_ACCESS_KEY=XXXX
AWS_REGION=XXXX
AWS_S3_BUCKET_NAME=XXXX

# Sending payments
STRIPE_SECRET_KEY=XXXX
STRIPE_WEBHOOK_SECRET=XXXX

# Sending emails
RESEND_API_KEY=XXXX
RESEND_FROM=XXXX
EMAIL_USER=XXXX
EMAIL_PASS=XXXX

# O auth
GOOGLE_CLIENT_ID=XXXX
GOOGLE_CLIENT_SECRET=XXXX

# Open AI 
GEMINI_API_KEY=XXXX